html {
  --primaryBackgroundColor: white;
  --primaryTextColor: black;
}

html.dark {
  --primaryBackgroundColor: black;
  --primaryTextColor: white;
}

.TextCard {
  background: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
  margin: 0;
  padding: 10px 20px;
  border-radius: 20px;
}

